## Directorios de compilación
[Bb]in/
[Oo]bj/
dist/
node_modules/

## Archivos de usuario y herramientas
.vs/
.vscode/
.idea/
*.user
*.suo
*.cache

## Logs
*.log

## Sistema
.DS_Store
Thumbs.db

## Archivos temporales de publicación (opcional)
*.pubxml
